*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding-top: 5vh;
  justify-items: center; 
  align-items: center; 
  max-width: 1200px;
}


body{
  min-height: 100vh;
  background-color: aliceblue;
}

.img1, .video1{
  padding: 15px;
  margin: 10px;
  height: 500px;
  width: 250px;
  box-shadow:  0 0 15px rgb(0,0, 0,0.1);
}



@media screen and (max-width: 1024px){

  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-height: 1024px) and (min-aspect-ratio: 6/3) {
.container{
 flex-direction: row !important;
 align-items: center !important;
 justify-content: center !important;
 flex-wrap: wrap;
}

}
